# ACM 114 Week 2: Primative Data Types and Its Properties

In this week, we have learn about primative data types in python programming language.
Basic list of data types that we are going to use during the semester give as follows:
- Integer denoted **int**
- Float  denoted  **float**
- String denoted **str**
- Boolean denoted **bool**

we are going to learn about the properties this data types later on within this document.

# Hello Python

Before disccusion the today's points given above. 
Start with the most naive way for python programming.

To create an output on the screen in python, we are going to use **print()** *function*

In [1]:
#to create message on the scree in python
print('Hello Python!!')

Hello Python!!

As you see, we used our first function in python and we are succesful to create a result by programming. 
Inside print function actuaaly we give some **argument** to it, it prints the given argument on the screen.
This simple example shows how we can call functions in python. **'Hello Python!!'** is actually a word for us but
this is called as **string literal(s)**(or only string) in programming languages.

<span style='color:Blue'> Important Note: </span>
Writing __comments__ are very crucial for programming while creating a software source code. 
In comments are understand by interpreter as code, they are creating for software programmers.
In python comments are starrted with __<span style='color:Green'> # </span>__ sign.

In above example, we saw a line: __#to create message on the scree in python__

This is an example of comment.

# Variable Concept
__Variable__ is a name that represents a value stored in the computer memory.Iy is used to access and manipulate data stored in memory.
A __variable__ references the value it represents. You can only use a variable if a value is assigned to it.
## Rules that we should obey while naming variables
While creating variable names, we should obey some certain rules:
- Variables names can only starts with alphabetic characters and undercore symbol(_)
- Variable names can include numeric characters but first character can not be a number. For instance: a1 is valid name but 1a is invalid variable name
- Variable names consist of two or more words can be used in concatanated way: For instance : **matchScore** is valid variable name but **match score** is not.Another example: **match_score** is valid name for variable.

## Meet with Primative Data Types

Let us try to learn about the data types:


- For numberic values in python we have three different data types: __int__ for integers, __float__ for other numbers, __complex__ for complex numbers. For this course, we wiil not work with complex numbers.

- For logical values (True or False), we have __bool__
- For characters and words, we have __str__(string)


First type that we are going to learn is __float__:
    
As we learn, to create a variable to refer a data in computer memory we give a meaningful name to it, we assign 
a value to it by **equal sign "="**. In the next line a variable with name **pi** is created and **3.14** is assigned to it:

In [2]:
pi=3.14

In [3]:
print(pi)

3.14

In [4]:
#to learn about the types of the variable we will use type() function
type(pi)

float

In [5]:
#create an integer variable with name section
section=7
type(section)

int

In [6]:
#Another variable with type string
sentence='This is our first string'
type(sentence)

str

In [7]:
#example for boolean value
valid=True
type(valid)

bool

In [8]:
#There is an awkward properties of dynamically typed languages
#you create a variable section with integer value and you then assign it to floating point number.
section=2.71
print(section)

2.71

In [9]:
type(section)

float

In [10]:
section='Engin'
type(section)

str

In [11]:
#you can delete a variable name by using del command
del section

In [12]:
print(section)

NameError: name 'section' is not defined

In [13]:
pi2=pi
print(pi2)

3.14

In [14]:
#you can learn informaton about memory adresses of variables using id()
id(pi)

26077586872

In [15]:
id(pi2)

26077586872

In [16]:
pi=10.2
id(pi)

26077587016

In [17]:
id(pi2)

26077586872

## Operators in Python
We have some mathematical operators that frequently used in python:
    - +(summation)
    - -(substraction)
    - /(division)
    - *(multiplication)
    - **(power of something)
    - //(?)
    - %(modulus)(to remainder)

In [18]:
3+3

6

In [19]:
4*3

12

In [20]:
3/2

1.5

In [21]:
4/2

2.0

Interesting thing in python that, in contrast to other programming languages, like C, C++, Java, integer division result in floating point number:

In [22]:
2.0/3

0.6666666666666666

In [ ]:
2/3

In [23]:
# // operator
3//2

1

In [24]:
1//2

0

In [25]:
-13//2

-7

In [26]:
-11//2

-6

# String(s)
Strings are **immutable** data types. Let us try to understand, what we mean by saying immutable, let us investigate the following examples:

In [27]:
#create a string variable
matchScore='Today derby score is GS:1 FB:1'
#we can learn length of string by len() function
len(matchScore)

30

In [28]:
#we can call many methods over string variables, we can get information about str data type
#we will use dir() function.
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [29]:
#There are some magical things(magic commands), that Jupyter notebook has. One of them is %who,which return list of variables
%who

matchScore	 pi	 pi2	 sentence	 valid

In [30]:
#connvert all characters of matchScore to capital size.
matchScore.upper()

'TODAY DERBY SCORE IS GS:1 FB:1'

In [31]:
print(matchScore)

Today derby score is GS:1 FB:1

In [32]:
#replace first 'y' character of matchScore by 'e' 
matchScore.replace('y','e',1)

'Todae derby score is GS:1 FB:1'

In [33]:
print(matchScore)

Today derby score is GS:1 FB:1

A useful function that you can call with string is __format()__ function. Let us investigate how it is useful:

In [34]:
exp_result='BMI:{} and your weight:{} and your height:{}'
exp_result.format(25.1,76.2,181)

'BMI:25.1 and your weight:76.2 and your height:181'

In [35]:
# use of format() function by indices
exp_result='Patient:{0}-> BMI:{1} and your weight:{3} and your height:{2}'
exp_result.format('Engin',23.66,95,190)

'Patient:Engin-> BMI:23.66 and your weight:190 and your height:95'

In [36]:
average='Class average={:.2f}'
average.format(45.1234)

'Class average=45.12'

In [ ]:
#We have some option in print function
print??

In [37]:
%who

average	 exp_result	 matchScore	 pi	 pi2	 sentence	 valid

In [38]:
print("Today news:",matchScore)

Today news: Today derby score is GS:1 FB:1

In [39]:
#you can concatanate string using + operator
print("Today news:"+matchScore)

Today news:Today derby score is GS:1 FB:1

In [40]:
#You cannot concatanate strings and numbers using + operator
print('Your weight:'+90+"kg")

TypeError: can only concatenate str (not "int") to str

In [41]:
print("Today news:",matchScore,sep='\n')

Today news:
Today derby score is GS:1 FB:1

# Reading values from user
We are going to **input** function in python to get data from user

In [42]:
#usage of input function
age=input('Enter your age')

Enter your age5

In [43]:
age

'5'

__input()__ function read all the values come from user as String
to convert string into other types we need to use typecasting

In [ ]:
#For example. for previous example
age=int(input('Enter your age'))

In [ ]:
type(age)

In [ ]:
age+20