# Lambda Expressions
```python
    lambda variable(s) : expresion(variables(s)) 
```

In [2]:
def identity(x):
    return x

In [3]:
f=lambda x : x

In [4]:
identity(3)

3

In [6]:
(lambda a : a+1)(3)

4

In [7]:
g=lambda x,y : x+y
g(2,3)

5

In [8]:
g(3,'Ahmet')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
def cal(func,x):
    return func(x)

f=lambda a : a**3+3*a+1
g=lambda y : y**2+5

cal(f,1)
cal(g,2)

9

In [13]:
liste1=[1,2,3,4,5]
liste2=list(map(lambda a : a**2,liste1))
print(liste2)

[1, 4, 9, 16, 25]

In [16]:
list3=list(filter(lambda a : (a%2!=0),liste1))
print(list3)

[1, 3, 5]

In [20]:
from functools import reduce
a=reduce(lambda a,b: a+b, liste1)

In [18]:
print(a)

15

# Iterator and Iterative Data types

An iterator is an object that contains countable number of arguments meanning that you can traverse through all the values.

In [22]:
my_tuple=('Engin','Ahmet','Cagla')

In [23]:
my_iter=iter(my_tuple)

In [24]:
next(my_iter)

'Engin'

In [25]:
next(my_iter)

'Ahmet'

In [26]:
next(my_iter)

'Cagla'

In [27]:
next(my_iter)

StopIteration:

In [28]:
for i in my_tuple:
    print(i)

Engin
Ahmet
Cagla

We can use a **for** loop to iterate through an iterable object

In [30]:
my_course="ACM114"
my_iter=iter(my_course)
next(my_iter)

'A'

In [31]:
next(my_iter)

'C'

In [32]:
next(my_iter)

'M'

# Create an Iterator

TO create an object/class as an iterator you have to implement the methods $__iter__()$ and $__next__()$.

In [42]:
class Number:
    def __init__(self,start,limit, incr):
        self.start=start
        self.limit=limit
        self.incr=incr
    def __iter__(self):
        self.x=self.start
        return self
    
    def __next__(self):
        if self.x<=self.limit:
            y=self.x
            self.x+=self.incr
            return y
        else:
            raise StopIteration

In [46]:
number=Number(0,15,3)

In [35]:
my_iter=iter(number)
next(number)

1

In [36]:
next(number)

2

In [37]:
next(number)

3

In [40]:
for i,name in enumerate(my_tuple,0):
    print(i,": ",name)

0 :  Engin
1 :  Ahmet
2 :  Cagla

In [49]:
my_tuple=('Engin','Ahmet','Cagla','Atalay','Zehra','Mehmet','Ä°layda')
for i,name in zip(number,my_tuple):
    print(i," : ",name)

0  :  Engin
3  :  Ahmet
6  :  Cagla
9  :  Atalay
12  :  Zehra
15  :  Mehmet

In [44]:
for i in number:
    print(i)

0
2
4
6
8
10
12
14

# Recursion and Recursive Functions

In [50]:
def fact1(n):
    if n==0:
        return 1
    else:
        return n*fact1(n-1)

In [51]:
def fact2(n):
    product=1
    if n==0:
        return product
    else:
        for i in range(1,n+1):
            product*=i
        return product

In [52]:
fact1(5)

120

In [53]:
fact2(5)

120

In [54]:
list2=[3,5,22,1,33,12]
sum(list2[0:3])

30

In [55]:
def sum1(liste,start,end):
    summ=0
    for i in range(start,end+1):
        summ+=liste[i]
    return summ

In [56]:
sum1(list2,0,2)

30

In [57]:
def sum2(liste,start,end):
    if start>=end:
        return liste[end]
    else:
        return liste[start]+sum2(liste,start+1,end)

In [58]:
sum2(list2,0,2)

30