# List(s) and Tuple(s)

In this week, we are going to learn about the followings topics:
- List(s)
- Tuple(s)
- Loops(for loops)

## List(s)

List is a data type in python, which can store sequence of data items. They arevery similar to array(s) in other programming languages such as C++, Java. Yet, they have significiantly different properties than traditional array.
Some of the major difference between List(s) and array(s) can be summarized as follows:
- While array(s) can store same type of data itemes, list(s) can store same and different type of data at the same instant
- While traditional arrays have fixed size, size of list can be changed with appending and removing items from it.
- While arrays has indexes start from 0 to lenght-1, elements of list(s) can be reach by negative indexes.

In python, list can be defined by two way. First one as follows:

```ptyhon
list_name=[item1,item2,item3]
```
Secondly we can use __list()__ function to convert a data item into list:

```python
    list_name=list(var_name)
```
Let us give an example which decleres and array consists of integers:

In [2]:
#let us firstly define a list with name numbers which contains integers
numbers=[3,5,12,-5,11,-10]
#we can learn the length of given list using len()
print(len(numbers))

6

There are some built in functions that we can use with list.Some of the built-in functions are as follows:
    - max()
    - min()
    - sorted()
    - sum()
In the next few lines, functionalities of this functions are demonstrated:

In [2]:
#some built-in function that we can use with list(s)
max(numbers)

12

In [3]:
min(numbers)

-10

In [4]:
#sum() functions which finds the sum of elements in given list
sum(numbers)

16

In [7]:
sorted(numbers)

[-10, -5, 3, 5, 11, 12]

In [8]:
numbers

[3, 5, 12, -5, 11, -10]

__List__ data type has some special methods to add or remove new elements:
    - append(item), insert(position, item)
    - remove(item), pop()

There are two method to sort list:
    - sort() and reverse()

In [9]:
#to really sort the given list we will use sort() method
numbers.sort()

In [10]:
numbers

[-10, -5, 3, 5, 11, 12]

In [11]:
numbers.sort(reverse=True)

In [12]:
numbers

[12, 11, 5, 3, -5, -10]

In [3]:
#to insert element to the list first way: use append() method
#append() add elements at the end of the list
numbers.append(100)

In [4]:
numbers

[3, 5, 12, -5, 11, -10, 100]

In [5]:
#second way: use insert() method
numbers.insert(1,-100)

In [6]:
numbers

[3, -100, 5, 12, -5, 11, -10, 100]

## Reaching Elements of List(s)

We can reach elements(or items) of list using __index__. Index are integers start from 0 to length of list minus one.
For example, first element of list is stored at the index 0.
```python
   list_name[index_number]
```
We can also change values of list elements as follows:
```python
   list_name[index_number]=new_value
```
There are also negative indexes for lists. Negative indexes start from -1 to -len(list).
In contrast to normal indexes, index -1 refers to last element in the list and first element can be reached at index len(list)

In [7]:
#lists are mutable 
numbers[0]=22
numbers

[22, -100, 5, 12, -5, 11, -10, 100]

In [8]:
#we can remove elements from the list using remove() method
numbers.remove(-100)

In [9]:
numbers

[22, 5, 12, -5, 11, -10, 100]

In [10]:
#2nd way to remove elements: pop() which removes the last element from list
numbers.pop()

100

In [35]:
numbers

[22, 11, 5, 3, -5, -10]

In [18]:
#we can store different type of data in the same list
datas=['Engin',22,3.14,False]

## List Slicing
List Slicing is kind of method special to list data type to extract subsequence of given list whose range is setted through __start__ and __end__ indexes:


```python
 list_name[start:end]
```
which returns partion of the list. Note that  element at the __end__ index not included in sublist.

If we do not specify start index in slicing, automatically it is setted as 0.
If we do not specify end index in slicing, automatically it is setted as len(list_name)

We can also give third parameter in list slicing which is step size:

```
list_name[start:end:step]
```

In [11]:
#list slicing
numbers[0:3]

[22, 5, 12]

In [12]:
numbers[0:5:2]

[22, 12, 11]

In [13]:
#if I don't specify the start index it will 0 automatically
numbers[:3]

[22, 5, 12]

In [14]:
#similarly if I don't put end index it puts len(list) value at end index
numbers[1:]

[5, 12, -5, 11, -10]

# Copying List and List Concatanation

We can concatanate two lists by + operator as follows:
```python
list3=list1+list2
```
In this usage elements of list2 elements are added at the end of list1, this final list is assigned to variable list3.

You can not create a copy of a given list, just creating new variable and assiging it to old list like
```python
    copy_list=list_old
```
Which is __wrong way__.

There are two way to create a copy of given list:
    - You need to create a new empty list and add old list to it by + operator or extend() method of list.
    - You need to create a new empty list and add each elemnt of old list using append() with in for loop.

In [15]:
#copying list: there are tw way to get copy of given list
numbers2=numbers
print(numbers2)
numbers.append(10)
print(numbers2)
#assignment does not work copying list

[22, 5, 12, -5, 11, -10]
[22, 5, 12, -5, 11, -10, 10]

In [16]:
#to copy a list firstly create an empty list and concatanate this list with old one
numbers3=[]
numbers3=numbers3+numbers
print('Before addition:',numbers3)
numbers.append(25)
print('After addition:',numbers3)
print('Original numbers:',numbers)

Before addition: [22, 5, 12, -5, 11, -10, 10]
After addition: [22, 5, 12, -5, 11, -10, 10]
Original numbers: [22, 5, 12, -5, 11, -10, 10, 25]

In [19]:
datas2=datas+numbers
print(datas2)

['Engin', 22, 3.14, False, 22, 5, 12, -5, 11, -10, 10, 25]

In [20]:
datas.append(numbers)
print(datas)

['Engin', 22, 3.14, False, [22, 5, 12, -5, 11, -10, 10, 25]]

In [21]:
len(datas)

5

In [22]:
datas3=[]
datas3.extend(numbers)

In [53]:
datas3

[22, 11, 5, 3, -5, -10, 10, 10, 25, 25]

In [54]:
2*datas3

[22, 11, 5, 3, -5, -10, 10, 10, 25, 25, 22, 11, 5, 3, -5, -10, 10, 10, 25, 25]

# Multidimensional List(s)

In [55]:
yoklama=[['Engin','Kandıran',[0,2,1]],['Mert','Sancar',[1,0,1]]]

In [57]:
type(yoklama[0][2])

list

In [59]:
yoklama[0][2][1]

2

# Tuple(s)

Tuples are immutable lists.
Which means that you cannot insert, delete, append any value from tuple.
You can only use two methods over tuples: count() and index()
you can define tuple as follows:
```python
   tuple_name=(item,items)
    ```

In [60]:
coordinate=(122.5,30.7)

In [61]:
coordinate[0]

122.5

In [62]:
coordinate[0]=110.5

TypeError: 'tuple' object does not support item assignment

In [63]:
buildings=[coordinate,(110.5,30.2),(92.5,30.7)]

In [64]:
coordinate=list(coordinate)
print(coordinate)

[122.5, 30.7]

In [65]:
coordinate[0]=105.7

In [66]:
coordinate=tuple(coordinate)

In [67]:
coordinate

(105.7, 30.7)

# Loops: for loop

We need to use loops in programming languages to make repeated set of actions. For example to process elements of given lists
we are gonig to use loop structures. For example, suppose each students grade are stored in a list, to find the avearge grade of class with its standart deviation, we can use loops. Loop stuctures are more flexible in python compared to other programming languages. In this lecture, we are giong to start with **for** loop. Usage(syntax) of **for** loops as follows:

```python
    for dummy_var in list_name:
        statements
        .
        .
```
In this syntax, **dummy_var** is variable which takes value of each elements of **list_name** list from its firt to last element at each iteration.

In [69]:
#usage of for loop
total=0 #accumulator variable
for number in numbers:
    total=total+number
print(total)

96

### range() function
**range()** function very useful function while we are dealing with lists. There are three usage of **range()** function.
In the next few examples these usage methods are examplified.

In [70]:
#range() function
total=0
for sayi in range(1,101):
    total+=sayi
print(total)

5050

In [71]:
for a in range(5):
    print(a)

0
1
2
3
4

In [72]:
for a in range(2,11,2):
    print(a)

2
4
6
8
10

In [73]:
x1,y1=coordinate
print(x1,',',y1)

105.7 , 30.7

In [74]:
buildings

[(122.5, 30.7), (110.5, 30.2), (92.5, 30.7)]

In [76]:
count=1
for x,y in buildings:
    print("Building #{} has lat:{} and longt:{}".format(count,x,y))
    count+=1

Building #1 has lat:122.5 and longt:30.7
Building #2 has lat:110.5 and longt:30.2
Building #3 has lat:92.5 and longt:30.7

In [80]:
for name,sname,devam in yoklama:
    print('Student:{},{} total attandance number:{}'.format(name,sname,sum(devam)))

Student:Engin,Kandıran total attandance number:3
Student:Mert,Sancar total attandance number:2

In [81]:
yoklama

[['Engin', 'Kandıran', [0, 2, 1]], ['Mert', 'Sancar', [1, 0, 1]]]

In [82]:
lectures=['ACM114','ACM221','ACM222']
hours=[3,4,3]

In [83]:
for ders,saat in zip(lectures,hours):
    print('Lecture:{} Hour:{}'.format(ders,saat))

Lecture:ACM114 Hour:3
Lecture:ACM221 Hour:4
Lecture:ACM222 Hour:3

In [84]:
#List comprehension
evens=[x for x in numbers if x%2 == 0]
print(evens)

[22, -10, 10, 10]

In [85]:
abs_evens=[abs(x) for x in numbers if x%2 == 0]
print(abs_evens)

[22, 10, 10, 10]

In [86]:
sqr_evens=[x**2 for x in numbers if x%2==0]

In [87]:
print(sqr_evens)

[484, 100, 100, 100]

In [89]:
word='tttuutooriall'
prev=''
correct=''
for c in word:
    if c!=prev:
        correct+=c
    prev=c
print(correct)

tutorial

In [90]:
n=int(input("n degerini giriniz:"))
result=[]
inner_result=[]
for i in range(n):
    for j in range(n):
        inner_result.append(n)
    result.append(inner_result)
    inner_result=[]
print(result)

n degerini giriniz:5
[[5, 5, 5, 5, 5], [5, 5, 5, 5, 5], [5, 5, 5, 5, 5], [5, 5, 5, 5, 5], [5, 5, 5, 5, 5]]